<div class="container pagecontainer">

  <div class="row">
    <div class="col-sm-12">
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Operation</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let participant of participants">
          <tr (click)="onClickParticipant(participant)" data-toggle="modal" data-target="#selectModal">
            <td>{{ participant.name }}</td>
            <td>{{ participant.email }}</td>
            <td *ngIf="!participant.isApproved" ><button class="btn btn-success btn-block" (click)="onClickChangeApproval(participant)">Approve</button></td>
            <td *ngIf="participant.isApproved" ><button class="btn btn-danger btn-block" (click)="onClickChangeApproval(participant)">Remove</button></td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
  </div>

  <!--participant information information-->
  <div id="selectModal" class="participantDisplay modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="createModalLabel">Participants Information</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="name" class="control-label">Name</label>
            <input type="text" class="form-control" id="name" placeholder="" [(ngModel)]="cParticipant.name">
          </div>
          <div class="form-group">
            <label for="rollNo" class="control-label">Roll Number</label>
            <input type="text" class="form-control" id="rollNo" placeholder="" [(ngModel)]="cParticipant.rollNo">
          </div>
          <div class="form-group">
            <label for="newWebsite" class="control-label">Father Name</label>
            <input type="text" class="form-control" id="newWebsite" placeholder="" [(ngModel)]="cParticipant.fatherName">
          </div>
          <div class="form-group">
            <label for="dateOfBirth" class="control-label">Birth Date</label>
            <input type="text" class="form-control" id="dateOfBirth" [(ngModel)]="cParticipant.dateOfBirth" placeholder="">
          </div>
          <div class="form-group">
            <label for="address" class="control-label">Address</label>
            <input type="text" class="form-control" id="address" [(ngModel)]="cParticipant.address" placeholder="">
          </div>
          <div class="form-group">
            <label for="email" class="control-label">Email</label>
            <input type="text" class="form-control" id="email" [(ngModel)]="cParticipant.email" placeholder="">
          </div>
          <div class="form-group">
            <label for="phoneNumber" class="control-label">Phone Number</label>
            <input type="text" class="form-control" id="phoneNumber" [(ngModel)]="cParticipant.phoneNumber" placeholder="">
          </div>
          <div class="form-group">
            <label for="educationalQualification" class="control-label">Educational Qualification</label>
            <input type="text" class="form-control" id="educationalQualification" [(ngModel)]="cParticipant.educationalQualification" placeholder="">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="onClickUpdateParticipant()">Update</button>
          <button type="button" class="btn btn-danger disabled" data-dismiss="modal">Delete</button>
        </div>
      </div>
    </div>
  </div>

</div>
