<div class="container pagecontainer">
  <br>
  <br>
  <br>
  <br>
  <div class="jumbotron">
    <h2 class="text-center">Event Registration Ssytem</h2>
    <br>
    <br>
    <p>This is an Event registration system. Participants required to register the event.
      The admin panel will approve and remove the participants.
      There is a email notification system for all these purpose.
    </p>
  </div>
</div>
