<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a routerLink="home" routerLinkActive="">Event Registration System</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="participant" routerLinkActive="">Register</a></li>
        <li *ngIf="!authService.isLoggedIn()" ><a routerLink="login" routerLinkActive="">Admin Dashboard</a></li>
        <li *ngIf="authService.isLoggedIn()" ><a routerLink="dashboard" routerLinkActive="">Dashboard</a></li>
        <li *ngIf="authService.isLoggedIn()" ><a routerLink="logout" routerLinkActive="">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="footer">
  <div class="container">
    <p class="text-muted">&copy; Copyright 2018 | B M Shams Nahid</p>
  </div>
</footer>
