<div class="container pagecontainer">
  <div class="well form-horizontal">
    <fieldset>
      <legend>
        Enter Email And password
      </legend>

      <!--Email Input-->
      <div class="form-group">
        <label class="col-md-4 control-label">Email</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input type="text" class="form-control" id="name" [(ngModel)]="admin.email">
          </div>
        </div>
      </div>

      <!--Password Input-->
      <div class="form-group">
        <label class="col-md-4 control-label">Password</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input type="text" class="form-control" id="password" [(ngModel)]="admin.password">
          </div>
        </div>
      </div>

      <button class="btn btn-primary btn-block" (click)="onClickLogIn()">Log In</button>

    </fieldset>
  </div>
</div>
