<div class="container">

  <div class="well form-horizontal" action=" " method="post"  id="contact_form">
    <fieldset>

      <!-- Form Name -->
      <legend>Enter your information</legend>

      <!-- Name input-->

      <div class="form-group">
        <label class="col-md-4 control-label">Name</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input  name="name" placeholder="Name" class="form-control"  type="text" [(ngModel)]="participant.name">
          </div>
        </div>
      </div>

      <!-- Roll input-->

      <div class="form-group">
        <label class="col-md-4 control-label">Roll</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
            <input name="rollNo" placeholder="XXXXXXXX" class="form-control" type="text" [(ngModel)]="participant.rollNo">
          </div>
        </div>
      </div>

      <!-- Father's Name input-->

      <div class="form-group">
        <label class="col-md-4 control-label">Fathers Name</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input  name="fathersName" placeholder="fathersName" class="form-control"  type="text" [(ngModel)]="participant.fatherName">
          </div>
        </div>
      </div>

      <!-- Date of Birth input-->

      <div class="form-group">
        <label class="col-md-4 control-label">Date of Birth</label>
        <div class="col-md-4 inputGroupContainer">
          <mat-form-field>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <input matInput [matDatepicker]="picker" placeholder="" [(ngModel)]="participant.dateOfBirth">
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <!-- Phone input-->

      <div class="form-group">
        <label class="col-md-4 control-label">Phone #</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
            <input name="phone" placeholder="XXXXXXXXXXX" class="form-control" type="text" [(ngModel)]="participant.phoneNumber">
          </div>
        </div>
      </div>

      <!-- Email input-->

      <div class="form-group">
        <label class="col-md-4 control-label">Email</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input name="email" placeholder="email" class="form-control" type="text" [(ngModel)]="participant.email">
          </div>
        </div>
      </div>

      <!-- address input -->

      <div class="form-group">
        <label class="col-md-4 control-label">Address</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
            <textarea class="form-control" name="address" placeholder="Your Address" [(ngModel)]="participant.address"></textarea>
          </div>
        </div>
      </div>

      <!--Educational Qualification Input-->

      <div class="form-group">
        <label class="col-md-4 control-label">Educational Qualification</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
            <textarea class="form-control" name="educationalQualification" placeholder="Your Educational Qualifications" [(ngModel)]="participant.educationalQualification"></textarea>
          </div>
        </div>
      </div>

    </fieldset>
  </div>
  <button type="" class="btn btn-primary btn-block" (click)="onClickJoin()">Submit</button>
</div>
<!-- /.container -->
